body {
    margin: auto;
    width: 100%;
    display: flex;
    background-color: hsl(180, 50%, 50%);
    justify-content: center;
    align-items: center;
}

.card{  
    padding: 20px;
    margin-top: 20px;

}

.card-body{
    border-radius: 20px;
    width: 350px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;

    font-family: 'Kumbh Sans', sans-serif;
    
}

.image{
    border-radius: 20px 20px 0px 0px;
}

span{
    display: block;
}

